<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="header">

	<nav class="navbar is-transparent" role="navigation"
		aria-label="main navigation">
		<div class="navbar-brand">
			<img th:src="@{/images/MD-record-002.png}" alt="" width="64"
				height="64"> <a id="nav-toggle" role="button"
				class="navbar-burger burger" aria-label="menu" aria-expanded="false"
				data-target="navbarMain"> <span aria-hidden="true"></span> <span
				aria-hidden="true"></span> <span aria-hidden="true"></span>
			</a>
		</div>
		<div id="navbarMain" class="navbar-menu">
			<div class="navbar-start"></div>
			<div class="navbar-end">
				<a class="navbar-item" th:href="@{/home}">Home</a> <a class="navbar-item"
					th:href="@{/patientsearch}">Search</a>

				<div class="navbar-item has-dropdown is-hoverable">
					<a class="navbar-link"> More </a>

					<div class="navbar-dropdown is-boxed">
						<a class="navbar-item" th:href="@{/about}">About</a>
					</div>
				</div>
				<div class="navbar-item">
					<div class="buttons">
						<a class="button is-light"> Log in </a>
					</div>
				</div>
			</div>
		</div>

	</nav>
</div>
</html>