<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport"
	content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />
<title>Centralized Patient Record Management</title>

<link rel="stylesheet" type="text/css" th:href="@{/css/bulma.css}" />
<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript"
	th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>

<body>
	<div th:replace="~{fragments/header :: header}"></div>

	<h3 class="title is-3 ml-2">New Medical Personnel Registration
		Form</h3>
	<div th:if="${warningmessage}">
		<div class="block  ml-1">
			<article class="message is-warning">
				<div class="message-header">
					<p>Warning</p>
					<button class="delete" aria-label="delete"></button>
				</div>
				<div class="message-body">
					<p th:text="${warningmessage}"></p>
				</div>
			</article>
		</div>
	</div>

	<form th:action="@{/registerMedicalPersonnel}" method="post"
		th:object="${formData}">
		<div class="container mx-1 box">
			<div class="columns ">
				<div class="column ">
					<div class="field">
						<div class="field-label is-small has-text-left">
							<label class="label">Last Name</label>
						</div>
						<div class="control">
							<input class="input" type="text" placeholder="Lamperouge"
								th:field="*{user.lastName}">
						</div>
					</div>
				</div>
				<div class="column is-one-fifth">
					<div class="field">
						<div class="field-label is-small has-text-left">
							<label class="label">Middle Name</label>
						</div>
						<div class="control">
							<input class="input" type="text" placeholder="Lolipop"
								th:field="*{user.middleName}">
						</div>
					</div>
				</div>
				<div class="column">
					<div class="field">
						<div class="field-label is-small has-text-left">
							<label class="label">First Name</label>
						</div>
						<div class="control">
							<input class="input" type="text" placeholder="Lelouch"
								th:field="*{user.firstName}">
						</div>
					</div>
				</div>
				<div class="column is-2">
					<div class="field ">
						<div class="field-label is-small has-text-left">
							<label class="label">Date of Birth</label>
						</div>
						<div class="control">
							<input class="input" type="date" th:field="*{user.dateOfBirth}">
						</div>
					</div>
				</div>
			</div>
			<div class="columns ">
				<div class="column ">
					<div class="field">
						<label class="label">Organization</label>
						<div class="control">
							<div class="select">
								<select th:field="*{user.organization.id}">
									<option th:each="org : ${organizations}" th:value="${org.id}"
										th:text="${org.name}"></option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="column">
					<div class="field">
						<div class="field-label is-small has-text-left">
							<label class="label">Phone Number</label>
						</div>
						<div class="control">
							<input class="input" type="text" placeholder="XXX-XXX-XXXX"
								th:field="*{user.mobileNumber}">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container mx-1 box">
			<div class="columns ">
				<div class="column">
					<div class="field">
						<div class="field-label is-small has-text-left">
							<label class="label">User Name</label>
						</div>
						<div class="control">
							<input class="input" type="text" placeholder="Email"
								th:field="*{user.login}">
						</div>
					</div>
				</div>
				<div class="column">
					<div class="field">
						<div class="field-label is-small has-text-left">
							<label class="label">Password</label>
						</div>
						<div class="control">
							<input class="input" type="password" placeholder="Password"
								th:field="*{user.password}">
						</div>
					</div>
				</div>
				<div class="column">
					<div class="field">
						<div class="field-label is-small has-text-left">
							<label class="label">Password Verification</label>
						</div>
						<div class="control">
							<input class="input" type="password" placeholder="Password"
								th:field="*{passverify}">
						</div>
					</div>
				</div>
			</div>
		</div>



		<div class="columns mt-3">
			<div class="column is-full  has-text-centered">
				<button class="button" type="submit">Register</button>
			</div>
		</div>
	</form>
</body>
</html>
