<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport"
	content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />
<title>Centralized Patient Record Management</title>

<link rel="stylesheet" type="text/css" th:href="@{/css/bulma.css}" />
<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript"
	th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
	<div th:replace="fragments/header :: header"></div>
	<div th:replace="fragments/title :: title"></div>

	<div class = "container">
		<b >[[${organization.name}]]</b>
		<p>[[${organization.description}]]</p>
		<p>Phone Number: [[${organization.phone}]]</p>
		<p>Key: [[${organization.organizationKey}]]</p>
		<p>Address: [[${organization.businessAddress}]]</p>
		<p>City: [[${organization.city}]]</p>
		<p>State: [[${organization.state}]]</p>
		<p>Zip Code: [[${organization.zipCode}]]</p>
	</div>

	<div class="columns">
		<div class="column">
			<p class="container">
				<a th:href="@{/newmedicalform}"> <img class="image" width="256" height="256"
					th:src="@{/images/NewPatient_001.png}" alt=""> <span
					class="subtitle">New Medical Professional</span>
				</a>
			</p>
		</div>
	</div>

	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>