<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport"
	content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />
<title>Centralized Patient Record Management</title>

<link rel="stylesheet" type="text/css" th:href="@{/css/bulma.css}" />
<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript"
	th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>

<body>
	<div th:replace="fragments/header :: header"></div>
	<div th:replace="fragments/title :: title"></div>

	<div class="fixed-grid has-6-cols mb-2 ml-3 mt-4">
		<div class="grid is-gap-5.5 ">
			<div class="cell">
				<span></span>
			</div>
			<div class="cell is-col-span-2 box">
				<figure>
					<img class="image" width="254" height="254"
						th:src="@{/images/olivia_anderson.JPEG}" alt="">
				</figure>
				<span class="subtitle">Olivia Anderson</span>

			</div>
			<div class="cell is-col-span-2 box is-size-6">
				<block class="is-size-5 is-vcentered">
				<p>Hometown: Allen, TX</p>
				<p>Focus Area: Artificial Intelligence</p>
				<p>Job Position: None</p>
				<p>Fun Fact: I love baking cheesecake.</p>
				</block>
			</div>
			<div class="cell">
				<span></span>
			</div>
		</div>
	</div>

	<div class="fixed-grid has-6-cols mb-2 ml-3 mt-4">
		<div class="grid is-gap-5.5 ">
			<div class="cell">
				<span></span>
			</div>
			<div class="cell is-col-span-2 box">
				<figure>
					<img class="image" width="254" height="254"
						th:src="@{images/MEGHA.JPG/}" alt="">
				</figure>
				<span class="subtitle">Megha Nettem</span>

			</div>
			<div class="cell is-col-span-2 box is-size-6">
				<block class="is-size-5 is-vcentered">
				<p>Hometown: Plano, TX</p>
				<p>Focus Area: Cybersecurity</p>
				<p>Job Position: Jr. Ecommerce Intern</p>
				<p>Fun Fact: My name means cloud.</p>
				</block>
			</div>
			<div class="cell">
				<span></span>
			</div>
		</div>
	</div>
	
	<div class="fixed-grid has-6-cols mb-2 ml-3 mt-4">
		<div class="grid is-gap-5.5 ">
			<div class="cell">
				<span></span>
			</div>
			<div class="cell is-col-span-2 box">
				<figure>
					<img class="image" width="254" height="254"
						th:src="@{/images/AHIMSA.png}" alt="">
				</figure>
				<span class="subtitle">Ahimsa Yukta</span>

			</div>
			<div class="cell is-col-span-2 box is-size-6">
				<block class="is-size-5 is-vcentered">
				<p>Hometown: Sugarland, TX</p>
				<p>Focus Area: Machine Learning</p>
				<p>Job Position: Intern</p>
				<p>Fun Fact: I am vegan!</p>
				</block>
			</div>
			<div class="cell">
				<span></span>
			</div>
		</div>
	</div>
	
	

	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>